@using QLBanLinhKienDienTuMVC.Models;
@model List<KhachHang>
@{
    ViewBag.Title = "CapNhatThongtin";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@{
    if (Session["taikhoan"] != null)
    {
        var tk = Session["taikhoan"] as KhachHang;
        <div class="container">
            <h2 style="color:red;font-weight:bold;text-align:center">Thông Tin</h2>
            <div class="card bordered-dark">
                <table class="table">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        {
                            <tr>
                                <td style="text-align:right">Họ Tên:</td>
                                <td>@Html.TextBox("HoTen",tk.HoTen, new { @class = "form-control" })<span style="color:red">@ViewData["L1"]</span></td>
                            </tr>

                            <tr>
                                <td style="text-align:right">Điện Thoại:</td>
                                <td>@Html.TextBox("DienThoai",tk.DienThoai, new { @class = "form-control" })<span style="color:red">@ViewData["L2"]</span></td>
                            </tr>

                            <tr>
                                <td style="text-align:right">Email:</td>
                                <td>@Html.TextBox("Email",tk.Email, new { @class = "form-control" })<span style="color:red">@ViewData["L3"]</span></td>
                            </tr>

                            <tr>
                                <td style="text-align:right">Địa Chỉ:</td>
                                <td>@Html.TextBox("DiaChi",tk.DiaChi, new { @class = "form-control" })<span style="color:red">@ViewData["L4"]</span></td>
                            </tr>

                            <tr style="text-align:center">
                                <td colspan="2">
                                    <center>
                                        <input value="Cập Nhật" class="sub_btn" type="submit" />
                                    </center>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    }

}


